# Optional logging settings, uncomment one of these example lines or add your own.
# See comments after each for more info.
# Default: "sfnexp:app,sfnexp:error"
#DEBUG=*  # Enable all logging, including middleware
#DEBUG=sfnexp:*  # Enable all logging specific to sfn-rpc-explorer
#DEBUG=sfnexp:app,sfnexp:error  # Default


# The base URL. If you want to run it elsewhere than on /, for example /sfn-rpc-explorer/ - note that the value should include starting and ending "/"
# Default: /
#SFNEXP_BASEURL=/
#SFNEXP_BASEURL=/explorer/


# The active coin. Only officially supported value is "SFN".
# Default: SFN
#SFNEXP_COIN=SFN


# Host/Port to bind to
# Defaults: shown
#SFNEXP_HOST=127.0.0.1
#SFNEXP_PORT=3002


# Softnote RPC Credentials (URI -OR- HOST/PORT/USER/PASS)
# Defaults:
#   - [host/port]: 127.0.0.1:8332
#   - [username/password]: none
#   - cookie: '~/.softnote/.cookie'
#   - timeout: 5000 (ms)
#SFNEXP_SOFTNOTED_URI=softnote://rpcusername:rpcpassword@127.0.0.1:8332?timeout=10000
#SFNEXP_SOFTNOTED_HOST=127.0.0.1
#SFNEXP_SOFTNOTED_PORT=8332
#SFNEXP_SOFTNOTED_USER=rpcusername
#SFNEXP_SOFTNOTED_PASS=rpcpassword
#SFNEXP_SOFTNOTED_COOKIE=/path/to/softnoted/.cookie
#SFNEXP_SOFTNOTED_RPC_TIMEOUT=5000


# Select optional "address API" to display address tx lists and balances
# Options: electrum, electrumx, blockchain.com, blockchair.com, blockcypher.com
#
# If this value is set to electrum (or the old value "electrumx"), then
# SFNEXP_ELECTRUM_SERVERS must also be set
#
# Default: none
#SFNEXP_ADDRESS_API=(electrum|electrumx|blockchain.com|blockchair.com|blockcypher.com)


# Optional Electrum Protocol Servers. See SFNEXP_ADDRESS_API. This value is only
# used if SFNEXP_ADDRESS_API=electrum (or the old value "electrumx")
# 
# This variable was formerly named SFNEXP_ELECTRUMX_SERVERS and that name still works.
#
# Default: none
#SFNEXP_ELECTRUM_SERVERS=tls://electrumx.server.com:50002,tcp://127.0.0.1:50001,...


# Whether to use the Electrum server as an external txindex.
# This is only available in the Electrs implementation. Electrs txindex can serve as a
# full replacement for the Softnote Core txindex, but Softnote Core's implementation
# is likely faster.
#SFNEXP_ELECTRUM_TXINDEX=true


# Set number of concurrent RPC requests. Should be lower than your node's "rpcworkqueue" value.
# Note that Softnote Core's default rpcworkqueue=16.
# Default: 10
#SFNEXP_RPC_CONCURRENCY=10


# Disable app's in-memory RPC caching to reduce memory usage
# Default: false (i.e. in-memory cache **enabled**)
#SFNEXP_NO_INMEMORY_RPC_CACHE=true


# Optional redis server for RPC caching
# Default: none
#SFNEXP_REDIS_URL=redis://localhost:6379


# Default: hash of credentials
#SFNEXP_COOKIE_SECRET=0000aaaafffffgggggg


# Whether public-demo aspects of the site are active
# Default: false
#SFNEXP_DEMO=true


# Set to false to enable resource-intensive features, including:
# UTXO set summary querying
# (default value is true, i.e. resource-intensive features are disabled)
#SFNEXP_SLOW_DEVICE_MODE=false


# Privacy mode disables:
# Exchange-rate queries, IP-geolocation queries
# Default: false
#SFNEXP_PRIVACY_MODE=true


# Don't request currency exchange rates
# Default: true (i.e. no exchange-rate queries made)
#SFNEXP_NO_RATES=true


# Password protection for site via basic auth (enter any username, only the password is checked)
# Default: none
#SFNEXP_BASIC_AUTH_PASSWORD=mypassword


# File where the SSO token is stored; ignored if SFNEXP_BASIC_AUTH_PASSWORD is provided.
# Enables SSO if present.
# Default: none
#SFNEXP_SSO_TOKEN_FILE=/var/run/sfn-rpc-explorer/sso_token


# URL of an optional external SSO provider
# This is ignored if SSO is not enabled (see SFNEXP_SSO_TOKEN_FILE)
# Default: none
#SFNEXP_SSO_LOGIN_REDIRECT_URL=/my-sso-provider/login


# Enable to allow access to all RPC methods
# Default: false
#SFNEXP_RPC_ALLOWALL=true


# Custom RPC method blacklist
# Default: (see config.js)
#SFNEXP_RPC_BLACKLIST=signrawtransaction,sendtoaddress,stop,...


# Optional API keys
# Default: none
#SFNEXP_GANALYTICS_TRACKING=UA-XXXX-X
#SFNEXP_SENTRY_URL=https://00000fffffff@sentry.io/XXXX
#SFNEXP_IPSTACK_APIKEY=000000fffffaaaaa
#SFNEXP_MAPBOX_APIKEY=000000fffffaaaaa


# Optional value for a directory for filesystem caching
# Default: ./cache
#SFNEXP_FILESYSTEM_CACHE_DIR=./cache


# Optional analytics
#SFNEXP_PLAUSIBLE_ANALYTICS_DOMAIN=domain.com
#SFNEXP_PLAUSIBLE_ANALYTICS_SCRIPT_URL=https://url-to/plausible.js


# Optional value for "max_old_space_size"
# Default: 1024
#SFNEXP_OLD_SPACE_MAX_SIZE=2048


# The number of recent blocks to search for transactions when txindex is disabled
#SFNEXP_NOTXINDEX_SEARCH_DEPTH=3



# Display Currency
# Default: sfn
#SFNEXP_DISPLAY_CURRENCY=(sfn|sat|local)

# Local Currency
# Default: usd
#SFNEXP_LOCAL_CURRENCY=(usd|eur|...)

# UI Timezone
# Default: utc
#SFNEXP_UI_TIMEZONE=(utc|local)

# UI Theme
# Default: dark
#SFNEXP_UI_THEME=(dark|light)

# UI Option: Hide info notes
# Default: false
#SFNEXP_UI_HIDE_INFO_NOTES=(true|false)



# Set the number of recent blocks shown on the homepage.
# For slow devices reduce this number.
# Default: 10
#SFNEXP_UI_HOME_PAGE_LATEST_BLOCKS_COUNT=10


# Set the number of blocks per page on the browse-blocks page.
# For slow devices reduce this number.
# Default: 50
#SFNEXP_UI_BLOCKS_PAGE_BLOCK_COUNT=50
